html, body, * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Poppins';
  background: rgb(89,62,37);
  background: radial-gradient(circle, rgba(89,62,37,0.41032608695652173) 0%, rgba(242,174,48,0.2282608695652174) 100%);
}

/* img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  outline: none;
} */

p {
  color: rgb(88, 87, 87);
}


/*Modal Window*/


/* Header */


.nav-link {
  font-size: 1.5rem;
}

.navbar-brand img {
  width: 40px; 
  height: 40px;
  box-shadow: 1px 1px 10px rgb(41, 41, 40);
}

.navbar-toggler {
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
}
.dropdown-menu .dropdown-item {
  background-color: transparent;
}



/* About Me */

h1 {
  color: #024959;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#aboutMe {
  margin: 40px 0;
}

#aboutMe p {
  text-align: justify;
}

#aboutMe img {
  max-width: 70%;
  height: 500px;
  box-shadow: 0.5px 0.5px 20px grey;
  outline: none;
} 


/*Projects*/

/* .project-item {
  margin: 40px 0;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
  color: #024959;
}

h3 {
  font-size: 20px;
  color: rgb(127, 90, 11);
}


.btn-branding-outline {
  outline: none;
  font-size: 16px;
  color:rgb(127, 90, 11);
  box-shadow: .5px .5px 5px rgb(127, 90, 11)
}


.btn-branding-outline:hover,
.btn-branding-outline:focus {
  background-color:rgb(127, 90, 11);
  border-radius: 3px;
  color: #f8f3f3;
  box-shadow: .5px .5px 5px #e5e3e3;
  outline: none;
} */

/* Footer */

/* footer {
  text-align: center;
  padding-bottom: 20px;
}

footer h2 {
  margin-bottom: 25px;
}

.social .social-link i::before {
  padding: 10px;
  border-radius: 50%;
  color:rgb(127, 90, 11);
  box-shadow: .5px .5px 5px rgb(127, 90, 11)
}

.social .social-link i:hover::before {
  background-color:rgb(127, 90, 11);
  color: #f8f3f3;
  box-shadow: .5px .5px 5px #e5e3e3;
} */


/* Media query for 720px */
/* @media screen and (min-width: 720px) {

  a {
    font-size: 28px;
  }

  header {
    padding: 30px;
  }
    
  h1 {
    font-size: 65px;
    margin-top: 80px;
    text-align: left;
  }
  
  p {
    font-size: 25px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  .btn-branding-outline {
    font-size: 22px;
  }
  
  .seprateSection {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 0
  }

  footer h2 {
    margin-bottom: 35px;
  }

  .social a{
    font-size: 50px;
  }
  
  .social .social-link i::before {
    padding: 20px;
  }

  .divider {
    margin-bottom: 50px;
  }
  
} */



/* Media query for 1024px */
/* @media screen and (min-width: 1024px) {

  main.container {
    min-width: 1350px;
  }

  a {
    font-size: 48px;
    margin: 20px;
  }

  header {
    padding: 40px;
  }
    
  h1 {
    font-size: 90px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 40px;
    text-align: justify;
  }

  #aboutMe img {
    max-width: 33%
  }


  #aboutMe p {
    padding: 15px;
  }

  h2 {
    font-size: 80px;
    margin: 100px 0;
  }

  h3 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .btn-branding-outline {
    font-size: 42px;
    padding: 25px;
  }
  
  .seprateSection {
    margin-bottom: 150px;
  }

  footer {
    padding: 0;
    margin-bottom: 30px;
  }

  footer h2 {
    margin-bottom: 70px;
  }

  .social a{
    font-size: 75px;
  }
  
  .social .social-link i::before {
    padding: 50px;
  }
  
} */


