html, body, * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-orangRed: rgb(252, 108, 56);
  --dark-orangeRed:  rgb(251, 103, 49);
}

body {
  color: #fff;
  /* max-width: 1024px; */
}

img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 20px grey;
}

/* a:hover{
  text-decoration: none;
} */

/* Header */

header {
  background-color: var(--background-orangRed);
  text-align: center;
  padding: 20px 15px;
}

header p {
  font-size: 18px;
  color: #fff;
}

.btn {
  padding: 10px 20px;
  outline: none;
  color:#fff;
}

.btn-branding {
  font-size: 18px;
  background-color: var(--dark-orangeRed);
  box-shadow: .5px .5px 5px #fff;
}

.btn-branding:hover,
.btn-branding:focus {
  outline: none;
  background-color: #fff;
  color: var(--background-orangRed)
}


/* Main */

/*Projects*/
h2 {
  color: var(--dark-orangeRed);
  margin-top: 40px;}

h3 {
  color: var(--background-orangRed);
}

p {
  color: grey;
  font-size: 20px;
}

.project-item {
  margin: 30px 0;
}

.btn-branding-outline {
  color: var(--dark-orangeRed);
  box-shadow: .5px .5px 5px var(--background-orangRed);
}

.btn-branding-outline:hover,
.btn-branding-outline:focus {
  background-color: var(--background-orangRed);
  color: #fff;
  box-shadow: .5px .5px 5px #fff;
}


/* About Me */

#aboutMe {
  margin: 60px 0;
}

#aboutMe img {
  max-width: 75%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 20px grey;
  outline: none;
}

/* Footer */

footer {
  text-align: center;
  background-color: var(--background-orangRed);
  padding: 30px;
}

footer h3 {
  color: #fff;
  margin: 20px 0;
  font-weight: bold;
}

.social-link {
  padding: 30px 8px;
  font-size: 30px;
  color: #fff
}

.social-link:hover,
.social-link:focus {
  color: #fff;
  text-decoration: none;
}

/* Media Queris */

@media (min-width: 768px) {
  
h1 {
  font-size: 65px;
}

header {
padding: 40px 25px;
}

header p {
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 35px;
  margin: 30px 0 40px;
}

.btn-branding {
  font-size: 28px;
}


/* Main */

/*Projects*/
h2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

p {
  line-height: 1.5;
  font-size: 30px;
}

.project-item {
  margin: 60px 0 120px;
}

.btn-branding-outline {
  font-size: 28px;
}

/* About Me */

#aboutMe {
  margin: 80px 0;
}

#aboutMe h2 {
  margin-bottom: 80px;
}

/* Footer */

footer {
  padding: 40px;
}

footer h3 {
  margin-bottom: 20px;
}

.social-link {
  font-size: 60px;
}
}

