:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
  --padding-contact: 20px 15px;
}

body {
  font-family: var(--default-font-family);
}

.container {
  padding: 60px 15px;
}

img {
  width: 100%;
}

h1 {
  font-size: 60px;
  line-height: 80px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.contex-box h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 30px;
}


/* Start Header */

header {
  margin: 0 105px;
}

nav {
  padding: 20px 0 0;
}

nav ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.headerLogo img {
  width: 145px;
}

.navLink {
  flex: 1;
}

.navLink li {
  padding: 10px;
}

.active {
  color: var(--branding-color);
}

.navLink li a:hover {
  color: var(--branding-color);
  text-decoration: none;
}

/* End Header */


.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: #fff;
}

.contex-box {
  max-width: 1300px;
  background-color: var(--secondary-color);
  margin: 50px auto;
  padding: 30px 70px;
  border-radius: 5px;
}

.emailLink {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.emailLink:hover {
  text-decoration: none;
}

.socialLinks {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 50px;
  margin-right: 20px;
}
