.about-title {
    color: #6c63ff;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin: 100px 0 30px;
}


.about-text{
    font-size: 25px;
    text-align: justify;
    padding: 0 20%;
    color: rgb(76, 73, 73);
    line-height: 1.6;
}